.wws-popup-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wws-popup-container {
    width: auto;
    position: fixed;
    z-index: 9999999;
}

.wws-popup {
    display: none;
    width: 232px;
}

/** Close btn **/
.wws-popup__close-btn {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    float: right;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
}

.wws-popup__close-icon {
    cursor: pointer;
}

/** Suuport **/
.wws-popup__support-wrapper {
    margin-top: 8px;
}

.wws-popup__support-img-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: bottom;
    margin-right: 3px;
    display: block;
    margin: 0 auto 8px auto;
}

.wws-popup__support-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wws-popup__support {
    display: inline-block;
    vertical-align: bottom;
    border-radius: 8px;
    overflow: hidden;
    width: 232px;
    float: right;
}

.wws-popup__support-about {
    font-size: 13px;
    text-align: center;
    padding: 18px 12px;
    line-height: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wws-popup__support-welcome {
    background-color: #fff;
    font-size: 14px;
    padding: 16px 12px;
    color: #888FBB;
    line-height: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}

/** Input **/
.wws-popup__input-wrapper {
    width: 232px;
    margin-top: 14px;
    float: right;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    position: relative;
}

.wws-popup__input {
    border: none !important;
    background-color: transparent !important;
    outline: none !important;
    padding: 6px 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #000 !important;
    vertical-align: middle !important;
    display: inline-block !important;
    width: 166px !important;
    height: auto !important;
}

.wws-popup__input::-webkit-input-placeholder {
    color: #888FBB !important;
}

.wws-popup__send-btn {
    cursor: pointer;
    padding: 6px;
    width: 34px;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wws-popup__send-btn:active {
    background-color: #eceff1;
    border-radius: 3px;
}