/*
	Remove Loftloader plugin fade effect	
*/
.loaded #loftloader-wrapper .loader-section.section-fade
{
	transition: all 0s 0s;
}

/*
	Begin CSS for global Elementor styling
*/

.white_text
{
	color: #fff;	
}

.hotel_distance
{
	background: #9b9b9b;
	color: #fff;	
	padding: 3px 20px 2px 20px;
	font-size: 11px;
	vertical-align: text-top;
    display: inline-block;
    margin-left: 5px;
}

.home_blocks_link
{
	min-height: 270px;
	overflow: hidden;
}

.home_blocks_link > .elementor-column-wrap
{
	-webkit-transition: all 5s ease !important;
  transition: all 5s ease !important;
  -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.home_blocks_link:hover > .elementor-column-wrap
{
	-webkit-transition: all 5s ease !important;
  transition: all 5s ease !important;
	-ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.translate_left
{
    transform: translateX(-20%);
}

.translate_left_more
{	
	transform: translateX(-30%);
}

.translate_right
{
    transform: translateX(20%);
}

.translate_right_more
{
    transform: translateX(30%);
}

.translate_top
{
	transform: translateY(20%);
}

.translate_top_more
{
	transform: translateY(30%);
}

.translate_bottom
{
	transform: translateY(-20%);
}

.translate_bottom_more
{
	transform: translateY(-30%);
}

.border_header
{
	text-underline-position: under;
}

.white_text input[type=text],
.white_text input[type=password],
.white_text input[type=email],
.white_text input[type=url],
.white_text input[type=tel],
.white_text input[type=date],
.white_text textarea,
.white_text select
{
	background: transparent;
	color: #fff;
	border-color: #fff;
}

.elementor-section-stretched > .elementor-container 
{
    max-width: none !important;
}

.elementor-accordion .elementor-tab-title
{
	outline: none;
}

.elementor-section-stretched
{
	z-index: 2;
}

body.elementor-page:not(.tg_boxed) #page_caption
{
	margin-bottom: 0;
}

body.elementor-page:not(.tg_boxed) #page_content_wrapper  .inner .sidebar_wrapper
{
	margin-top: 60px;
}

body.elementor-fullscreen.elementor-editor-active:hover .header_style_wrapper,
body.tg_menu_transparent.elementor-editor-active:hover .header_style_wrapper,
body.elementor-editor-active:hover .header_style_wrapper
{
	display: none;
}

body.elementor-fullscreen
{
	overflow: hidden;
	width: 100%;
	height: 100vh;
	opacity: 1;
	transition: opacity 0.3s;
}

body.elementor-fullscreen #page_content_wrapper
{
	padding: 0 !important;
	width: 100%;
	max-width: none;
}

body.elementor-fullscreen #page_content_wrapper .elementor-section.elementor-section-stretched
{
	left: 0 !important;
}

body.elementor-fullscreen #page_content_wrapper .elementor-section.elementor-section-boxed > .elementor-container
{
	max-width: none;
}

body.elementor-fullscreen #toTop
{
	display: none !important;
}

body.loading
{
	opacity: 0;
}

body.elementor-fullscreen.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings,
body.elementor-fullscreen.elementor-editor-active .elementor.elementor-edit-mode .elementor-element>.elementor-element-overlay
{
	z-index: 9999;
}

body.elementor-fullscreen #page_caption,
body.elementor-fullscreen #footer_wrapper,
body.elementor-fullscreen.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-element-duplicate
{
	display: none;
}

.elementor-editor-preview .elementor-widget-empty.elementor-widget-hoteller-gallery-fullscreen,
.elementor-editor-preview .elementor-widget-empty.elementor-widget-hoteller-slider-vertical-parallax
{
	display: block;
}

body.elementor-fullscreen.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-element-settings,
body.elementor-editor-active.tg_menu_transparent .elementor.elementor-edit-mode .elementor-editor-element-settings
{
	top: 27px;
}

body.elementor-editor-active .header_style_wrapper
{
	z-index: 3;
}

body.elementor-fullscreen.elementor-editor-preview .elementor-widget-empty
{
	display: block;
}

.leftmenu.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-section-settings
{
	top: 26px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 20px;
  height: 35px;
  margin-left: -10px;
  position: fixed;
  bottom: 40px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 3px #fff;
  border-radius: 25px;
  z-index: 99;
}

.icon-scroll:before {
  content: '';
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: -2px;
  top: 4px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(23px);
    transform: translateY(23px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(23px);
    transform: translateY(23px);
  }
}

.elementor-section .elementor-container .tg-container
{
	display: block;
}

/*
	End CSS for global Elementor styling
*/

.tg-gallery-lightbox img
{
	display: block;
}

/*
	Begin CSS for global theme styling
*/

.tg_one_cols
{
	width: 100%;
	clear: both;
}

.tg_two_cols
{
	width: 48%;
	float: left;
}

.tg_two_cols.last
{
	width: 48%;
	float: right;
}

.tg_two_cols:nth-child(2n+1)
{
	clear: both;
}

.tg_three_cols
{
	width: 30.66%;
	margin-right: 4%;
	float: left;
}

.tg_three_cols.last
{
	width: 30.66%;
	margin-right: 0;
	float: right;
}

.tg_three_cols:nth-child(3n+1)
{
	clear: both;
}

.tg_four_cols
{
	width: 22.75%;
	margin-right: 3%;
	float: left;
}

.tg_four_cols.last
{
	width: 22.75%;
	margin-right: 0;
	float: right;
}

.tg_four_cols:nth-child(4n+1)
{
	clear: both;
}

.tg_five_cols
{
	width: 17.6%;
	margin-right: 3%;
	float: left;
}

.tg_five_cols.last
{
	width: 17.6%;
	margin-right: 0;
	float: right;
}

.tg_five_cols:nth-child(5n+1)
{
	clear: both;
}

/*
	End CSS for global theme styling
*/

/*
	Begin CSS for blog-posts	
*/

.post_header_title
{
	clear: both;
}

.post_img
{
	position: relative;
	height: auto;
	line-height: 0;
	width: 100%;
	margin-bottom: 20px;
}

.post_img img
{
	max-width: 100%;
	height: auto !important;
}

@-webkit-keyframes lazy_color_change {
	from { background-color: #cccccc; }
	to { background-color: #f0f0f0; }
}
@-moz-keyframes lazy_color_change {
	from { background-color: #cccccc; }
	to { background-color: #f0f0f0; }
}
@-ms-keyframes lazy_color_change {
	from { background-color: #cccccc; }
	to { background-color: #f0f0f0; }
}
@-o-keyframes lazy_color_change {
	from { background-color: #cccccc; }
	to { background-color: #f0f0f0; }
}
@keyframes lazy_color_change {
	from { background-color: #cccccc; }
	to { background-color: #f0f0f0; }
}

.post_img_hover.lazy
{
	-webkit-animation: lazy_color_change 1s infinite alternate;
	-moz-animation: lazy_color_change 1s infinite alternate;
	-ms-animation: lazy_color_change 1s infinite alternate;
	-o-animation: lazy_color_change 1s infinite alternate;
	animation: lazy_color_change 1s infinite alternate;
}

.post_img_hover
{
  	position: relative;
  	display: inline-block;
  	width: 100%;
}

.post_img_hover img
{
	width: 100%;
	height: auto;
}
  
.post_img_hover:not(.lazy)
 {
  background: #222222;
  background: -moz-linear-gradient(90deg, #222222 0%, #444444 100%, #666666 100%);
  background: -webkit-linear-gradient(90deg, #222222 0%, #444444 100%, #666666 100%);
  background: linear-gradient(90deg, #222222 0%, #444444 100%, #666666 100%);
}

.blog-posts-classic .post_img_hover
{
	min-height: 300px;
}

.post_img_hover img,
.post_img_hover:before,
.post_img_hover:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.post_img_hover img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.post_img_hover:before,
.post_img_hover:after {
  content: '';
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.post_img_hover:before {
  width: 60px;
  height: 1px;
  left: 100%;
}

.post_img_hover:after {
  height: 60px;
  width: 1px;
  top: 0%;
}

.post_img_hover a 
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.post_img_hover:hover img,
.post_img_hover.hover img 
{
  zoom: 1;
  filter: alpha(opacity=30);
  -webkit-opacity: 0.3;
  opacity: 0.3;
}

.post_img_hover:hover:before,
.post_img_hover.hover:before,
.post_img_hover:hover:after,
.post_img_hover.hover:after 
{
  opacity: 1;
  top: 50%;
  left: 50%;
}

.post_img_hover .post_type_icon
{
	position: absolute;
	bottom: -30px;
	right: 30px;
	z-index: 2;
	display: inline-block;
	border-radius: 50px;
	line-height: 62px;
	width: 60px;
	height: 60px;
	background: #1C58F6;
	text-align: center;
	box-shadow: 0 10px 40px rgba(0,0,0,0.15);
	
	-ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    
    transition: all .21s cubic-bezier(.5,.5,.4,.9);
}

.post_related h3
{
	text-align: center;
	margin-bottom: 20px;
}

.post_related .post_img_hover .post_type_icon
{
	width: 50px;
	height: 50px;
	right: 20px;
	bottom: -20px;
	line-height: 50px;
}

.post_img_hover:hover .post_type_icon
{
	-ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.post_img_hover .post_type_icon i
{
	color: #fff;
	font-size: 17px;
}

.post_info_cat
{
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 5px;
	font-weight: 300;
}

.post_header h5
{
	font-size: 26px;
}

.post_header h6
{
	font-size: 20px;
}

.post_header h5 a, .post_header h6 a
{
	color: #222222;
}

.post_attribute a
{
	position: relative;
	padding: 3px 0 3px 0;
}

.post_attribute a:before
{
	opacity: 0.5;
}

.post_excerpt
{
	width: 100%;
	margin: auto;
}

.post_content_wrapper.text_left
{
	text-align: left;
}

.post_content_wrapper.text_center
{
	text-align: center;
}

.post_content_wrapper.text_right
{
	text-align: right;
}

.type-post.blog-posts-grid
{
	width: calc(33.33% - 30px);
	margin-right: 45px;
	margin-bottom: 45px;
	box-sizing: border-box;
	float: left;
}

.type-post.blog-posts-grid:nth-child(3n)
{
	float: right;
	margin-right: 0;
}

.type-post.blog-posts-grid:nth-child(3n+1)
{
	clear: both;
}

.blog-posts-grid .post_img_hover
{
	min-height: 180px;
}

.blog-posts-grid .post_header h5
{
	font-size: 22px;
}

.blog-posts-grid .post_wrapper .post_header_wrapper p,
#page_content_wrapper .blog-posts-grid .post_wrapper .post_header_wrapper p
{
	padding-top: 10px;
	padding-bottom: 20px;
	clear: both;
}

.type-post.blog-posts-grid_no_space,
.type-post.blog-posts-metro_no_space
{
	width: 25%;
	margin: 0;
	box-sizing: border-box;
	float: left;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 550px;
	position: relative;
	transform-style: preserve-3d;
	overflow: visible;
}

.type-post.blog-posts-metro_no_space
{
	height: 600px;
}

.type-post.blog-posts-metro_no_space.large_grid
{
	width: 50%;
}

.type-post.blog-posts-metro_no_space.large_grid .post_header h5
{
	font-size: 34px;
}

.type-post.blog-posts-grid_no_space:hover,
.type-post.blog-posts-metro_no_space:hover
{
	z-index: 3;
}

.type-post.blog-posts-grid_no_space:nth-child(4n+1)
{
	clear: both;
}

.type-post.blog-posts-grid_no_space .bg_overlay,
.type-post.blog-posts-metro_no_space .bg_overlay
{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.type-post.blog-posts-grid_no_space:hover .bg_overlay,
.type-post.blog-posts-metro_no_space:hover .bg_overlay
{
	background-color: rgba(0,0,0,0.2);
}

.type-post.blog-posts-grid_no_space .post_wrapper,
.type-post.blog-posts-metro_no_space .post_wrapper
{
	display: table;
	width: 100%;
	height: 100%;
}

.type-post.blog-posts-grid_no_space .post_wrapper .post_content_wrapper,
.type-post.blog-posts-metro_no_space .post_wrapper .post_content_wrapper
{
	display: table-cell;
	vertical-align: middle;
}

.type-post.blog-posts-grid_no_space .post_wrapper .post_content_wrapper .post_header,
.type-post.blog-posts-metro_no_space .post_wrapper .post_content_wrapper .post_header
{
	box-sizing: border-box;
	padding: 40px;
	position: relative;
	transform: translateZ(20px);
}

.type-post.blog-posts-grid_no_space .post_wrapper .post_content_wrapper .post_header,
.type-post.blog-posts-grid_no_space .post_wrapper .post_content_wrapper .post_header .post_detail.single_post .post_info_cat,
.type-post.blog-posts-grid_no_space .post_wrapper .post_content_wrapper .post_header .post_detail.single_post .post_info_cat a,
.type-post.blog-posts-grid_no_space .post_wrapper .post_content_wrapper .post_header .post_header_title h5 a,
.type-post.blog-posts-grid_no_space .post_wrapper .post_content_wrapper .post_header .post_button_wrapper a,
.type-post.blog-posts-metro_no_space .post_wrapper .post_content_wrapper .post_header,
.type-post.blog-posts-metro_no_space .post_wrapper .post_content_wrapper .post_header .post_detail.single_post .post_info_cat,
.type-post.blog-posts-metro_no_space .post_wrapper .post_content_wrapper .post_header .post_detail.single_post .post_info_cat a,
.type-post.blog-posts-metro_no_space .post_wrapper .post_content_wrapper .post_header .post_header_title h5 a,
.type-post.blog-posts-metro_no_space .post_wrapper .post_content_wrapper .post_header .post_button_wrapper a
{
	color: #fff;
}

.type-post.blog-posts-grid_no_space .post_wrapper .post_content_wrapper .post_header .post_button_wrapper .post_attribute,
.type-post.blog-posts-metro_no_space .post_wrapper .post_content_wrapper .post_header .post_button_wrapper .post_attribute
{
	opacity: 0.7;
}

.type-post.blog-posts-grid_no_space .post_wrapper .post_content_wrapper .post_header .post_button_wrapper .post_attribute a:before,
.type-post.blog-posts-metro_no_space .post_wrapper .post_content_wrapper .post_header .post_button_wrapper .post_attribute a:before
{
	background-color: #fff;
}

.pagination.blog-posts-grid_no_space,
.pagination_detail.blog-posts-grid_no_space,
.pagination.blog-posts-metro_no_space,
.pagination_detail.blog-posts-metro_no_space
{
	margin-top: 60px;
}

.elementor-section-stretched .pagination.blog-posts-grid_no_space,
.elementor-section-stretched .pagination.blog-posts-metro_no_space
{
	padding-left: 90px;
}

.pagination_detail.blog-posts-grid_no_space,
.pagination_detail.blog-posts-metro_no_space
{
	padding-right: 90px;
}

.type-post.blog-posts-masonry
{
	width: calc(33.33% - 30px);
	padding-bottom: 45px;
	box-sizing: border-box;
	float: left;
	
	-webkit-transform: translateX(-40px);
    transform: translateX(-40px);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}

.type-post.blog-posts-masonry.is-showing
{
	-webkit-transform: translateX(0px);
    transform: translateX(0px);
	opacity: 1;
}

.type-post.blog-posts-list .post_wrapper,
.type-post.blog-posts-list_circle .post_wrapper
{
	width: 100%;
	float: left;
}

.layout_list .type-post.blog-posts-list:first-child,
.layout_list_circle .type-post.blog-posts-list_circle:first-child
{
	margin-top: 0;
}

.layout_list .type-post.blog-posts-list,
.layout_list_circle .type-post.blog-posts-list_circle
{
	margin-top: 30px;
}

.type-post.blog-posts-list .post_img
{
	width: 40%;
	margin-right: 30px;
	float: left;
}

.type-post.blog-posts-list_circle .post_img
{
	width: 30%;
	margin-right: 50px;
	float: left;
}

.type-post.blog-posts-list .post_content_wrapper
{
	width: calc(60% - 30px);
	float: left;
	clear: none;
}

.type-post.blog-posts-list_circle .post_content_wrapper
{
	width: calc(70% - 50px);
	float: left;
	clear: none;
}

.blog-posts-list .post_img_hover
{
	min-height: 280px;
}

.blog-posts-list_circle .post_img_hover
{
	border-radius: 50%;
	min-height: 220px;
}

.blog-posts-list_circle .post_img_hover img
{
	border-radius: 50%;
}

.blog-posts-list_circle .post_img_hover .post_type_icon
{
	bottom: -10px;
}

.pagination.blog-posts-list,
.pagination_detail.blog-posts-list,
.pagination.blog-posts-list_circle,
.pagination_detail.blog-posts-list_circle
{
	margin-top: 60px;
}

.blog-posts-list .post_header h5,
.blog-posts-list_circle .post_header h5
{
	font-size: 24px;
}

.post_metro_left_wrapper,
.post_metro_right_wrapper
{
	width: calc(50% - 20px);
	float: left;
}

.post_metro_right_wrapper
{
	float: right;
}

.post_metro_left_wrapper .post_header h5
{
	font-size: 36px;
}

.post_metro_right_wrapper .post_header h5
{
	font-size: 20px;
}

.post_metro_right_wrapper .blog-posts-metro
{
	width: calc(50% - 20px);
	float: left;
	box-sizing: border-box;
	padding-bottom: 40px;
	
	-webkit-transform: translateX(-40px);
    transform: translateX(-40px);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}

.post_metro_right_wrapper .blog-posts-metro.is-showing
{
	-webkit-transform: translateX(0px);
    transform: translateX(0px);
	opacity: 1;
}

.post_metro_right_wrapper .blog-posts-metro:nth-child(2n)
{
	float: right;
}

/*
	End CSS for blog-posts	
*/

/*
	Begin CSS for gallery-grid, masonry, justified
*/

.gallery_grid_content_wrapper img
{
	display: block;	
}

.gallery_grid_content_wrapper .tg_one_cols,
.gallery_grid_content_wrapper .tg_two_cols,
.gallery_grid_content_wrapper .tg_three_cols,
.gallery_grid_content_wrapper .tg_four_cols,
.gallery_grid_content_wrapper .tg_five_cols
{
	position: relative;
}

.gallery_grid_content_wrapper .tg_one_cols
{
	margin-top: 40px;
}

.gallery_grid_content_wrapper .tg_one_cols:first-child
{
	margin-top: 0;
}

.gallery_grid_content_wrapper .tg_two_cols
{
	width: calc(50% - 20px);
	margin-right: 40px;
	margin-bottom: 40px;
}

.gallery_grid_content_wrapper .tg_two_cols.last
{
	width: calc(50% - 20px);
	margin-right: 0;
	margin-bottom: 40px;
}

.gallery_grid_content_wrapper.do_masonry .tg_two_cols
{
	margin-right: 0;
}

.gallery_grid_content_wrapper .tg_three_cols
{
	width: calc(33.33% - 27px);
	margin-right: 40px;
	margin-bottom: 40px;
}

.gallery_grid_content_wrapper.do_masonry .tg_three_cols
{
	margin-right: 0;
}

.gallery_grid_content_wrapper .tg_three_cols.last
{
	width: calc(33.33% - 27px);
	margin-right: 0;
	margin-bottom: 40px;
}

.gallery_grid_content_wrapper .tg_four_cols
{
	width: calc(25% - 30px);
	margin-right: 40px;
	margin-bottom: 40px;
}

.gallery_grid_content_wrapper.do_masonry .tg_four_cols
{
	margin-right: 0;
}

.gallery_grid_content_wrapper .tg_four_cols.last
{
	width: calc(25% - 30px);
	margin-right: 0;
	margin-bottom: 40px;
}

.gallery_grid_content_wrapper .tg_five_cols
{
	width: calc(20% - 24px);
	margin-right: 30px;
	margin-bottom: 30px;
}

.gallery_grid_content_wrapper .tg_five_cols.last
{
	width: calc(20% - 24px);
	margin-right: 0;
	margin-bottom: 30px;
}

.gallery_grid_content_wrapper.do_masonry .tg_five_cols
{
	margin-right: 0;
}

.gallery_grid_content_wrapper.has_no_space .tg_one_cols,
.gallery_grid_content_wrapper.has_no_space .tg_two_cols,
.gallery_grid_content_wrapper.has_no_space .tg_three_cols,
.gallery_grid_content_wrapper.has_no_space .tg_four_cols,
.gallery_grid_content_wrapper.has_no_space .tg_five_cols
{
	margin: 0;
}

.gallery_grid_content_wrapper.has_no_space .tg_one_cols:hover,
.gallery_grid_content_wrapper.has_no_space .tg_two_cols:hover,
.gallery_grid_content_wrapper.has_no_space .tg_three_cols:hover,
.gallery_grid_content_wrapper.has_no_space .tg_four_cols:hover,
.gallery_grid_content_wrapper.has_no_space .tg_five_cols:hover,
.gallery_grid_content_wrapper.do_justified .entry:hover
{
	position: relative;
	z-index: 2;
}

.gallery_grid_content_wrapper.has_no_space img
{
	max-width: none;
	width: 100%;
}

.gallery_grid_content_wrapper.has_no_space .tg_two_cols
{
	width: 50%;
	margin: 0;
}

.gallery_grid_content_wrapper.has_no_space .tg_three_cols
{
	width: 33.33%;
	margin: 0;
}

.gallery_grid_content_wrapper.has_no_space .tg_four_cols
{
	width: 25%;
	margin: 0;
}

.gallery_grid_content_wrapper.has_no_space .tg_five_cols
{
	width: 20%;
	margin: 0;
}

.gallery_grid_content_wrapper .gallery_grid_item
{
	overflow: hidden;
}

.gallery_grid_content_wrapper.do_masonry .gallery_grid_item
{
	-webkit-transform: translateX(-40px);
    transform: translateX(-40px);
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

.gallery_grid_content_wrapper .gallery_grid_item.hide
{
	opacity: 0;
	display: none;
}

.gallery_grid_content_wrapper .gallery_grid_item.is-showing
{
	-webkit-transform: translateX(0px);
    transform: translateX(0px);
	opacity: 1;
}

.gallery_grid_content_wrapper .tg_gallery_grid_title
{
	box-sizing: border-box;
	padding: 20px 30px 20px 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	opacity: 0;
	z-index: 2;
	
	-webkit-transform: translateY(40px);
    transform: translateY(40px);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.gallery_grid_content_wrapper .gallery_grid_item:hover .tg_gallery_grid_title
{
	-webkit-transform: translateY(0px);
    transform: translateY(0px);
	opacity: 1;
}

.gallery_grid_content_wrapper .tg_four_cols .tg_gallery_grid_title,
.gallery_grid_content_wrapper .tg_five_cols .tg_gallery_grid_title
{
	padding: 100px 15px 10px 15px;
}

.gallery_grid_content_wrapper .gallery_grid_item .bg_overlay
{
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	
	-ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.gallery_grid_content_wrapper .gallery_grid_item:hover .bg_overlay
{
	-ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
	opacity: 1;
}

.gallery_grid_content_wrapper .gallery_grid_item.lazy
{
	-webkit-animation: lazy_color_change 1s infinite alternate;
	-moz-animation: lazy_color_change 1s infinite alternate;
	-ms-animation: lazy_color_change 1s infinite alternate;
	-o-animation: lazy_color_change 1s infinite alternate;
	animation: lazy_color_change 1s infinite alternate;
}

.gallery_grid_content_wrapper .gallery_grid_item.tg_one_cols.lazy
{
	min-height: 550px;
}

.gallery_grid_content_wrapper .gallery_grid_item.tg_one_cols
{
	width: auto;
	text-align: center;
}

.gallery_grid_content_wrapper .gallery_grid_item.tg_one_cols .bg_overlay
{
	display: none;
}

.gallery_grid_content_wrapper .gallery_grid_item.tg_one_cols img
{
	margin: auto;
}

.gallery_grid_content_wrapper .gallery_grid_item.tg_two_cols.lazy
{
	min-height: 250px;
}

.gallery_grid_content_wrapper .gallery_grid_item.tg_three_cols.lazy
{
	min-height: 200px;
}

.gallery_grid_content_wrapper .gallery_grid_item.tg_four_cols.lazy
{
	min-height: 150px;
}

.gallery_grid_content_wrapper .gallery_grid_item.tg_five_cols.lazy
{
	min-height: 100px;
}

.gallery_grid_content_wrapper.do_justified
{
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.gallery_grid_content_wrapper.do_justified .entry-visible
{
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/*
	End CSS for gallery-grid, masonry, justified
*/


/*
	Begin CSS for gallery-horizontal
*/

.tg_horizontal_gallery_cell {
  overflow: hidden;
}

#page_content_wrapper .tg_horizontal_gallery_wrapper ol.flickity-page-dots
{
	margin-left: 0;
}

.tg_horizontal_gallery_wrapper .flickity-viewport 
{
	box-sizing: content-box;
}

.tg_horizontal_gallery_cell img {
  display: block;
  width: auto;
  max-width: none !important;
}

/* position dots up a bit */
.tg_horizontal_gallery_wrapper .flickity-page-dots {
  bottom: -40px;
}
/* dots are lines */
.tg_horizontal_gallery_wrapper .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.tg_horizontal_gallery_wrapper .flickity-prev-next-button svg {
	width: 40%;
	height: 40%;
}

.tg_horizontal_gallery_wrapper .flickity-prev-next-button svg {
	left: 30%;
    top: 30%;
}

.tg_horizontal_gallery_wrapper .flickity-prev-next-button.next,
.tg_horizontal_gallery_wrapper .flickity-prev-next-button.previous {
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s!important;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s!important;
    opacity: 0.75;
}

.tg_horizontal_gallery_wrapper .flickity-prev-next-button.next {
	right: 40px;
}

.tg_horizontal_gallery_wrapper .flickity-prev-next-button.next:hover {
	right: 30px;
	opacity: 1;
}

.tg_horizontal_gallery_wrapper .flickity-prev-next-button.previous {
	left: 40px;
}

.tg_horizontal_gallery_wrapper .flickity-prev-next-button.previous:hover {
	left: 30px;
	opacity: 1;
}

.tg_horizontal_gallery_wrapper .flickity-prev-next-button:disabled {
	opacity: 0.3;
}

/* fade in image when loaded */
.tg_horizontal_gallery_cell_img {
  transition: opacity 0.4s;
  opacity: 0;
}

.tg_horizontal_gallery_cell_img.flickity-lazyloaded,
.tg_horizontal_gallery_cell_img.flickity-lazyerror {
  opacity: 1;
}

/*
	End CSS for gallery-horizontal
*/

/*
	Begin CSS for slider-horizontal
*/

.tg_slider_gallery_cell {
  overflow: hidden;
}

.tg_horizontal_slider_wrapper .flickity-prev-next-button svg {
	width: 40%;
	height: 40%;
}

.tg_horizontal_slider_wrapper .flickity-prev-next-button svg {
	left: 25%;
    top: 30%;
}

.tg_horizontal_slider_wrapper .flickity-prev-next-button.next,
.tg_horizontal_slider_wrapper .flickity-prev-next-button.previous {
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s!important;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s!important;
    opacity: 0.75;
}

.tg_horizontal_slider_wrapper .flickity-prev-next-button.next {
	right: -20px;
}

.tg_horizontal_slider_wrapper .flickity-prev-next-button.next:hover {
	right: -30px;
	opacity: 1;
}

.tg_horizontal_slider_wrapper .flickity-prev-next-button.previous {
	left: -20px;
}

.tg_horizontal_slider_wrapper .flickity-prev-next-button.previous:hover {
	left: -30px;
	opacity: 1;
}

.tg_horizontal_slider_wrapper .tg_horizontal_slider_cell {
	width: 100%;
	height: 100%;
	float: left;
}

.tg_horizontal_slider_wrapper .tg_horizontal_slider_content {
	width: 30%;
	height: 100%;
	padding: 40px;
	box-sizing: border-box;
	float: left;
}

.tg_horizontal_slider_wrapper .title_align_right .tg_horizontal_slider_content {
	float: right;
}

.tg_horizontal_slider_bg {
	width: 70%;
	height: 100%;
	padding: 0;
	float: left;
}

.tg_horizontal_slider_wrapper .title_align_right .tg_horizontal_slider_bg {
	float: left;
}

.tg_horizontal_slider_wrapper .tg_horizontal_slider_content .tg_horizontal_slider_content_wrap {
	display: table;
	width: 100%;
	height: 100%;
}

.tg_horizontal_slider_bg_one_cols {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.tg_horizontal_slider_bg_two_cols {
	width: calc(50% - 20px);
	float: left;
	height: 100%;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.tg_horizontal_slider_bg_two_cols.last {
	float: right;
}

.tg_horizontal_slider_bg_two_rows {
	width: 100%;
	margin-bottom: 40px;
	height: calc(50% - 20px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.tg_horizontal_slider_bg_two_rows.last {
	margin-bottom: 0;
}

.tg_horizontal_slider_wrapper .tg_horizontal_slider_content .tg_horizontal_slider_content_wrap .tg_horizontal_slider_content_cell {
	display: table-cell;
	vertical-align: middle;
}

.tg_horizontal_slide_content_title h2
{
	font-size: 40px;
}

.tg_horizontal_slide_content_desc
{
	padding: 20px 0 20px 0;
}

.tg_horizontal_slider_wrapper .flickity-prev-next-button:disabled {
	opacity: 0.3;
}

.tg_horizontal_slide_content_link
{
	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-bottom: 1px solid #222;
	
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.tg_horizontal_slide_content_link:hover {
	padding-bottom: 2px;
	border-bottom-color: transparent !important;
}

/* position dots up a bit */
.tg_horizontal_slider_wrapper .flickity-page-dots {
  bottom: -10px;
}
/* dots are lines */
.tg_horizontal_slider_wrapper .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

/*
	End CSS for slider-horizontal
*/

/*
	Begin CSS for hoteller-album-grid
*/

.gallery_grid_content_wrapper.album_grid .tilter {
	display: block;
	position: relative;
	color: #fff;
	flex: none;
	perspective: 1000px;
}

.gallery_grid_content_wrapper.album_grid .tilter * {
	pointer-events: none;
}

.gallery_grid_content_wrapper.album_grid .tilter:hover,
.gallery_grid_content_wrapper.album_grid .tilter:focus {
	color: #fff;
	outline: none;
}

.gallery_grid_content_wrapper.album_grid .tilter__figure,
.gallery_grid_content_wrapper.album_grid .tilter__deco,
.gallery_grid_content_wrapper.album_grid .tilter__caption {
	will-change: transform;
}

.gallery_grid_content_wrapper.album_grid .tilter__figure,
.gallery_grid_content_wrapper.album_grid .tilter__image {
	margin: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.gallery_grid_content_wrapper.album_grid .tilter__figure > * {
	transform: translateZ(0px); /* Force correct stacking order */
}

.gallery_grid_content_wrapper.album_grid .smooth .tilter__figure,
.gallery_grid_content_wrapper.album_grid .smooth .tilter__deco--overlay,
.gallery_grid_content_wrapper.album_grid .smooth .tilter__deco--lines,
.gallery_grid_content_wrapper.album_grid .smooth .tilter__deco--shine div,
.gallery_grid_content_wrapper.album_grid .smooth .tilter__caption {
	transition: transform 0.2s ease-out;
}

.gallery_grid_content_wrapper.album_grid .tilter__figure {
	position: relative;
}

.gallery_grid_content_wrapper.album_grid .tilter__figure::before {
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	top: 5%;
	left: 5%;
}

.gallery_grid_content_wrapper.album_grid .tilter__deco {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery_grid_content_wrapper.album_grid .tilter__deco--shine div {
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}

.gallery_grid_content_wrapper.album_grid .tilter__deco--lines {
	fill: none;
	stroke: #fff;
	stroke-width: 1.5px;
}

.gallery_grid_content_wrapper.album_grid .tilter__caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 3em;
}

.gallery_grid_content_wrapper.album_grid .tg_two_cols .tilter__caption {
	padding: 4em;
}

.gallery_grid_content_wrapper.album_grid .tg_four_cols .tilter__caption {
	padding: 2.5em;
}

.gallery_grid_content_wrapper.album_grid .tg_five_cols .tilter__caption {
	padding: 2em;
}

.gallery_grid_content_wrapper.album_grid .tilter__title {
	margin: 0;
	font-size: 1.6em;
	line-height: 1;
	color: #fff;
}

.gallery_grid_content_wrapper.album_grid .tilter__description {
	margin: 5px 0 0 0;
	padding: 0 !important;
	font-size: 0.6em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.gallery_grid_content_wrapper.album_grid .tilter__deco--overlay {
	background: rgba(0,0,0,0.2);
}

/* Individual styles */

.gallery_grid_content_wrapper.album_grid .tilter--3 .tilter__caption {
	padding: 2em;
	text-align: right;
	text-shadow: 0.1em 0.8em 1em rgba(0,0,0,0.35);
}

@media screen and (min-width: 30em) {
	.gallery_grid_content_wrapper.album_grid .tilter--4 .tilter__deco--lines {
		transform: scale3d(0.8,0.8,1);
		transition: transform 0.4s;
	}
	.gallery_grid_content_wrapper.album_grid .tilter--4:hover .tilter__deco--lines {
		transform: scale3d(1,1,1);
	}
	.gallery_grid_content_wrapper.album_grid .tilter--4 .tilter__title,
	.gallery_grid_content_wrapper.album_grid .tilter--4 .tilter__description {
		transform: translate3d(0,80px,0);
		opacity: 0;
		transition: transform 0.4s, opacity 0.4s;
	}
	.gallery_grid_content_wrapper.album_grid .tilter--4:hover .tilter__description {
		transition-delay: 0.1s;
	}
	.gallery_grid_content_wrapper.album_grid .tilter--4:hover .tilter__title,
	.gallery_grid_content_wrapper.album_grid .tilter--4:hover .tilter__description {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

/* Example 5 (line animating) */
.gallery_grid_content_wrapper.album_grid .tilter--5 .tilter__deco--lines path {
	stroke-dasharray: 1270;
	stroke-dashoffset: 1270;
	transition: stroke-dashoffset 0.7s;
}

.gallery_grid_content_wrapper.album_grid .tilter--5:hover .tilter__deco--lines path {
	stroke-dashoffset: 0;
}

.gallery_grid_content_wrapper.album_grid .tilter--5 .tilter__figure::before {
	box-shadow: none;
}

.gallery_grid_content_wrapper.album_grid .tilter--6 .tilter__deco--lines {
	stroke: #000;
	stroke-width: 6px;
	top: -40px;
	left: -40px;
}

.gallery_grid_content_wrapper.album_grid .tilter--6 .tilter__caption {
	padding: 0 4em 5.5em 1.5em;
}

.gallery_grid_content_wrapper.album_grid .tilter--6 .tilter__figure::before {
	box-shadow: none;
}

.gallery_grid_content_wrapper.album_grid .tilter--7 .tilter__deco--lines {
	stroke-width: 20px;
	transform: scale3d(0.9,0.9,1);
	opacity: 0;
	transition: transform 0.3s, opacity 0.3s;
}

.gallery_grid_content_wrapper.album_grid .tilter--7:hover .tilter__deco--lines {
	opacity: 1;
	transform: scale3d(1,1,1);
}

.gallery_grid_content_wrapper.album_grid .tilter--7 .tilter__figure::before {
	box-shadow: none;
}

/* Example 8 (different line) */
.gallery_grid_content_wrapper.album_grid .tilter--8 {
	perspective: none;
}

.gallery_grid_content_wrapper.album_grid .tilter--8 .tilter__figure {
	transform-style: flat;
}

.gallery_grid_content_wrapper.album_grid .tilter--8 .tilter__deco--lines {
	stroke-width: 6px;
}

.gallery_grid_content_wrapper.album_grid .tilter--8 .tilter__figure::before {
	box-shadow: none;
}

.gallery_grid_content_wrapper .gallery_grid_item.tilter
{
	overflow: visible;
}

/*
	End CSS for hoteller-album-grid
*/

/*
	Begin CSS for hoteller-distortion-grid
*/

.distortion_grid_item {
	position: relative;
	display: flex;
	align-items: stretch;
	width: 100vw;
}

.distortion_grid_item--bg {
	background-color: var(--item-bg);
	height: 100vw;
}

.distortion_grid_item-content {
	width: 100%;
	padding: 9vw;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	pointer-events: none;
	background: var(--item-bg);
}

.distortion_grid_item--bg .distortion_grid_item-content {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.distortion_grid_item-img {
	display: block;
	height: 100%;
	width: 100%;
}

.distortion_grid_item-img canvas {
	height: 100%;
}

.distortion_grid_item-img img {
	height: 100%;
	display: block;
}

.distortion_grid_item-img img:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}

.distortion_grid_item:hover .distortion_grid_item-img img:nth-child(2) {
	opacity: 1;
}

body.elementor-default .distortion_grid_item-img img {
	display: none;
}

.distortion_grid_item-title {
	font-size: 2.5rem;
	line-height: 1;
	margin: 0;
	color: var(--item-title);
}

.distortion_grid_item-title--small {
	font-size: 1.5rem;
	line-height: 1.25;
	margin-bottom: 1rem;
}

.distortion_grid_item-meta {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.25rem;
	font-size: 0.95rem;
	color: var(--item-meta);
}

.distortion_grid_item-subtitle {
	display: block;
	margin: auto 0 0 0;
	font-weight: 400;
	font-size: 1.5em;
	color: var(--item-subtitle);
}

.distortion_grid_item-subtitle span {
	display: block;
}

.distortion_grid_item-text {
	font-size: 1rem;
	line-height: 1.75;
	margin: 2rem 0 0 0;
	color: var(--item-text);
}

.distortion_grid_item-link {
	display: inline-block;
	color: currentColor;
	font-weight: 700;
	font-size: 0.95rem;
	position: relative;
	padding: 0 0 0.2rem;
	pointer-events: auto;
	color: var(--item-link);
}

.distortion_grid_item-link:focus,
.distortion_grid_item-link:hover {
	color: var(--item-link-hover);
}

.distortion_grid_item-link::before {
	content: '';
	position: absolute;
	background: currentColor;
	width: 80%;
	height: 1px;
	bottom: 0;
	transform-origin: 0% 50%;
	transform: scale3d(0,1,1);
	opacity: 0;
	transition: all 0.3s;
	transition-property: opacity, transform;
}

.distortion_grid_item-link:hover::before {
	opacity: 1;
	transform: scale3d(1,1,1);
}

.distortion_grid_item-link + .distortion_grid_item-link {
	margin: 0 0 0 3rem;
}

.distortion_grid_item-text + .distortion_grid_item-link {
	white-space: nowrap;
	margin-top: 1rem;
	align-self: flex-start;
	margin-top: auto;
}

.distortion_grid_item-nav {
	display: flex;
}

/* Themes */
.theme-2 {
	--item-bg: rgba(0,0,0,0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff;
}

.theme-3 {
	--item-bg: rgba(0,0,0,0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff;
}

.theme-6 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #12161e;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #ffffff;
    --item-subtitle: #12161e;
    --item-text: #ffffff;
}

.theme-7 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-10 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #000;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #000;
    --item-text: #fff;
}

.theme-11 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #000;
    --item-link-hover: #fff;
    --item-meta: #000;
    --item-title: #000;
    --item-subtitle: #000;
    --item-text: #000;
}

.theme-14 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-15 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-19 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #6317f5;
    --item-link-hover: #fff;
    --item-meta: #6317f5;
    --item-title: #fff;
    --item-subtitle: #6317f5;
    --item-text: #fff;
}

@media screen and (min-width: 85em) {
	.distortion_grid_item-text {
		width: 80%;
	}
}

.distortion_grid_wrapper {
		display: grid;
		grid-template-columns: repeat(2,49.999vmax);
	}

@media screen and (min-width: 50em) {
	.distortion_grid_wrapper {
		display: grid;
		grid-template-columns: repeat(2,49.999vmax);
	}
	.distortion_grid_item {
		height: 49.999vmax;
		width: 100%;
	}
	.distortion_grid_item-subtitle * {
		opacity: 0;
		transform: translate3d(100px, 0, 0);
		transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 1);
		transition-property: transform, opacity;
	}
	.distortion_grid_item:hover .distortion_grid_item-subtitle * {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	.distortion_grid_item:hover .distortion_grid_item-subtitle span {
		transition-delay: 0.1s;
	}
	.distortion_grid_item:hover .distortion_grid_item-subtitle .grid__item-link {
		transition-delay: 0s;
	}
	.distortion_grid_item-title {
		font-size: 6vw;
		font-weight: 400;
	}
	.distortion_grid_item-title--small {
		font-size: 3vw;
	}
	.distortion_grid_item-text {
		margin-top: 2.5rem;
	}
}

/*
	End CSS for hoteller-distortion-grid
*/


/*
	Begin CSS for hoteller-timeline
*/

.timeline_wrapper
{
	float: left;
	position: relative;
	left: 0;
	width: 100%;
	clear: both;
}

.timeline_wrapper:before
{
	content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1px;
    background-color: #222;
}

.timeline_wrapper .timeline_entry
{
	width: calc(50% - 80px);
    float: left;
    padding: 20px;
    clear: both;
    text-align: right;
}

.timeline_wrapper .timeline_entry:not(:first-child) {
  margin-top: -80px;
}

.timeline_wrapper .timeline_entry .timeline_title
{
	position: relative;
}

.timeline_wrapper .timeline_entry .timeline_title:before
{
	content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #222;
    background-color: #222;
    border-radius: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -106px;
    z-index: 2;
}

.timeline_wrapper .timeline_entry:nth-child(2n)
{
	text-align: left;
    float: right;
}

.timeline_wrapper .timeline_entry:nth-child(2n) .timeline_title:before
{
	left: -106px;
}

.timeline_wrapper .timeline_entry .timeline_title .timeline_image
{
	margin-bottom: 15px;
}

/*
	End CSS for hoteller-timeline
*/


/*
	Begin CSS for hoteller-accommodation-types
*/

.room_grid_wrapper,
.room_grid_wrapper .room_grid_attr_wrapper .child_one_third
{
	float: left;
}

.room_grid_wrapper .post_img_hover
{
	margin-bottom: 20px;
}

.room_grid_wrapper h3
{
	display: block;
	text-align: center;
	width: 100%;
	padding: 0 0 20px 0;
	box-sizing: border-box;
}

.room_grid_wrapper img
{
	max-width: 100%;
	height: auto;
}

.room_grid_wrapper.one_fourth
{
	box-sizing: border-box;
	width: calc(25% - 19px);
	margin-right: 25px;
	margin-bottom: 50px;
}

.room_grid_wrapper.one_third
{
	box-sizing: border-box;
	width: calc(33.33% - 20px);
	margin-right: 30px;
	margin-bottom: 60px;
}

.room_grid_wrapper.one_half
{
	box-sizing: border-box;
	width: calc(50% - 20px);
	margin-right: 40px;
	margin-bottom: 80px;
}

.room_grid_wrapper .room_grid_attr_wrapper .child_one_third
{
	box-sizing: border-box;
	width: 33.33%;
	padding: 0 5% 0 5%;
}

.child_one_half
{
	box-sizing: border-box;
	width: 50%;
	padding: 0 10% 0 10%;
	float: left;
}

.room_grid_wrapper.one_third:nth-child(3n),
.room_grid_wrapper.one_half:nth-child(2n),
.room_grid_wrapper.one_fourth:nth-child(4n),
.room_grid_wrapper .room_grid_attr_wrapper .child_one_third:nth-child(3n)
{
	margin-right: 0;
}

.room_grid_wrapper .room_grid_attr_wrapper .child_one_third
{
	text-align: center;
	border-right: 1px solid #222;
}

.room_grid_wrapper .room_grid_attr_wrapper .child_one_third:nth-child(3n)
{
	border: 0;
}

.room_grid_wrapper .room_attr_value
{
	width: 100%;
	text-align: center;
	font-size: 35px;
	font-weight: 600;
}

.room_grid_wrapper.one_fourth .room_attr_value
{
	font-size: 24px;
}

.room_grid_wrapper .room_attr_unit
{
	width: 100%;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	margin-top: -5px;
	line-height: 1.3;
}

.room_grid_link_wrapper
{
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

.room_grid_book .mphb-price-period
{
	display: none;
}

.room_grid_book
{
	display: inline-block;
	border-bottom: 1px solid;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 2px;
}

/*
	End CSS for hoteller-accommodation-types
*/


/*
	Begin CSS for hoteller-slider-property-clip
*/

.tg_slider_property_clip_wrapper.intro {
	position: relative;
	width: 100%;
	clear: both;
}
.tg_slider_property_clip_wrapper.intro .content {
	float: right;
	height: 100%;
	width: 50%;
	padding: 4.5rem;
	display: table;
}
.tg_slider_property_clip_wrapper.intro .content.left {
	float: left;
}
.tg_slider_property_clip_wrapper.intro .content > div {
	display: table-cell;
	vertical-align: middle;
}
.tg_slider_property_clip_wrapper.intro .content span {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.tg_slider_property_clip_wrapper.intro .content > div h1 {
	font-size: 70px;
	line-height: 1.2;
}
.tg_slider_property_clip_wrapper.intro .content > div p {
 
}
.tg_slider_property_clip_wrapper.intro .slider {
	float: left;
	position: relative;
	width: 50%;
	height: 100%;
}
.tg_slider_property_clip_wrapper.intro .slider.right {
	float: right;
}
.tg_slider_property_clip_wrapper.intro .slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transition: clip .7s ease-in-out, z-index 0s .7s;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
}
.tg_slider_property_clip_wrapper.intro li.current {
	z-index: 1;
	clip: rect(0, 100vw, 100vh, 0);
}
.tg_slider_property_clip_wrapper.intro li.prev {
	clip: rect(0, 0, 100vh, 0);
}
.tg_slider_property_clip_wrapper.intro .slider nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
.tg_slider_property_clip_wrapper.intro nav a {
	display: inline-block;
	border-radius: 50%;
	width: 0.8rem;
	height: 0.8rem;
  min-width: 12px;
  min-height: 12px;
	background: #fff;
	margin: 0 0.5rem;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.tg_slider_property_clip_wrapper.intro nav a.current_dot {
	-webkit-transform: scale(1.4);
	        transform: scale(1.4);
}
@media screen and (max-width: 700px) {
	.tg_slider_property_clip_wrapper.intro .content {
		width: 100%;
		height: 30%;
	}
	.tg_slider_property_clip_wrapper.intro .slider {
		width: 100%;
		height: 70%;
	}
}

/*
	End CSS for hoteller-slider-property-clip
*/

/*
	Begin CSS for hoteller-slider-zoom
*/

.slider_zoom_wrapper .pagination {
  position: absolute !important;
  width: 100%;
  text-align: center;
  right: 0;
  padding: 0 !important;
  bottom: 30px;
  z-index: 999;
  margin: 0 !important;
}
.slider_zoom_wrapper .pagination__item {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 250px;
  border: 1px solid #fff;
  margin: 0 5px;
  transition: .2s ease-in-out;
  background: transparent;
}
.slider_zoom_wrapper .pagination__item.is-current, 
.slider_zoom_wrapper .pagination__item:hover {
  background-color: #fff;
}

.container {
  	width: 960px;
	margin: auto;
}
@media (max-width: 699px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1425px;
	width: 100%;
	padding: 0 90px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .container {
	width: 100%;
	padding: 0 30px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
	width: 100%;
	padding: 0 30px;
  }	
}

.background-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}

.slider_zoom_wrapper {
  position: relative;
  color: #ffffff;
  background-color: #1e1e22;
  overflow: hidden;
  height: 900px;
}
.slideshow__slide {
  visibility: hidden;
  transition: visibility 0s 1.7s;
}
.slideshow__slide.is-current {
  visibility: visible;
  transition-delay: 0s;
}
@media (max-width: 699px) {
  .slider_zoom_wrapper .slideshow__slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 700px) {
  .slider_zoom_wrapper .slideshow__slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.slideshow__slide-background-load-wrap {
  transition: -webkit-transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  overflow: hidden;
}

.is-loaded .slideshow__slide-background-load-wrap {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

.slideshow__slide.is-prev .slideshow__slide-background-parallax,
.slideshow__slide.is-next .slideshow__slide-background-parallax {
  -webkit-transform: none !important;
          transform: none !important;
}

.slideshow__slide.is-prev-section .slideshow__slide-background-parallax,
.slideshow__slide.is-next-section .slideshow__slide-background-parallax {
  -webkit-transform: none !important;
          transform: none !important;
}

.slideshow__slide-background-load {
  transition: -webkit-transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.is-loaded .slideshow__slide-background-load {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideshow__slide-background-wrap {
  transition: -webkit-transform 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, -webkit-transform 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slideshow__slide.is-prev .slideshow__slide-background-wrap {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.slideshow__slide.is-next .slideshow__slide-background-wrap {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.slideshow__slide.is-prev-section .slideshow__slide-background-wrap {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  transition: none;
}

.slideshow__slide.is-next-section .slideshow__slide-background-wrap {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  transition: none;
}

.slideshow__slide-background {
  transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.5s;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.5s;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.5s, -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: hidden;
}

.slideshow__slide.is-prev .slideshow__slide-background, .slideshow__slide.is-next .slideshow__slide-background {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  transition-delay: 0s;
}

.slideshow__slide.is-prev-section .slideshow__slide-background, .slideshow__slide.is-next-section .slideshow__slide-background {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  transition-delay: 0s;
  transition: none;
}

.slideshow__slide-image-wrap {
  transition: -webkit-transform 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.6s, -webkit-transform 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideshow__slide.is-prev .slideshow__slide-image-wrap {
  -webkit-transform: translate3d(0, 50%, 0);
          transform: translate3d(0, 50%, 0);
}

.slideshow__slide-image {
  transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.5s;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.5s;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.5s, -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slideshow__slide.is-prev .slideshow__slide-image, .slideshow__slide.is-next .slideshow__slide-image {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  transition-delay: 0s;
}

.slideshow__slide.is-prev-section .slideshow__slide-image, .slideshow__slide.is-next-section .slideshow__slide-image {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  transition-delay: 0s;
  transition: none;
}

.slideshow__slide-image::before, .slideshow__slide-image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.35;
}

.slideshow__slide-image::before {
  background-color: #1e1e22;
}

.slideshow__slide-image::after {
  background: linear-gradient(to bottom, transparent 0%, #1e1e22 100%);
}

.slideshow__slide.is-prev .slideshow_container,
.slideshow__slide.is-next .slideshow_container {
  -webkit-transform: none !important;
          transform: none !important;
}

.slideshow__slide.is-prev-section .slideshow_container,
.slideshow__slide.is-next-section .slideshow_container {
  -webkit-transform: none !important;
          transform: none !important;
}

.slideshow__slide-caption-text {
  position: relative;
  height: 100%;
  padding-top: 30%;
  transition: -webkit-transform 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.4s, -webkit-transform 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideshow__slide.is-prev .slideshow__slide-caption-text {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.slideshow__slide.is-next .slideshow__slide-caption-text {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.slideshow__slide.is-prev-section .slideshow__slide-caption-text {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  transition: none;
}

.slideshow__slide.is-next-section .slideshow__slide-caption-text {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  transition: none;
}

.slideshow__slide-caption {
  position: relative;
  height: 100%;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  transition: -webkit-transform 1s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1) 0.1s, -webkit-transform 1s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}

.is-loaded .slideshow__slide-caption {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideshow__slide-caption-title {
  line-height: 1;
  color: #fff;
}

.slideshow__slide-desc {
	margin-top: 20px;
}

.title_align_right .slideshow__slide-caption-title,
.title_align_right .slideshow__slide-desc {
	float: right;
	clear: both;
}

.slideshow__slide-caption-title.-full {
  width: 100%;
}

.slideshow__slide-caption-subtitle {
  display: inline-block;
  padding: 1.875rem 0;
}

.slideshow__slide-caption-subtitle.-load {
  transition: -webkit-transform 0.9s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1) 0.4s, -webkit-transform 0.9s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -webkit-transform: translate3d(0, 3.75rem, 0);
  transform: translate3d(0, 3.75rem, 0);
}

.is-loaded .slideshow__slide-caption-subtitle.-load {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

body[data-route-option="prev-section"] .slideshow__slide-caption-subtitle.-load, body[data-route-option="next-section"] .slideshow__slide-caption-subtitle.-load {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slideshow__slide-caption-subtitle-label {
  transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: inline-block;
}

.o-hsub.-link:hover .slideshow__slide-caption-subtitle-label, .o-hsub-wrap:hover .slideshow__slide-caption-subtitle-label {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

/* OLD */
.c-header-home_heading {
  line-height: 1;
}

@media (max-height: 500px) {
  .c-header-home_heading {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 699px) {
  .c-header-home_heading {
    font-size: 40px;
    margin-bottom: 150px;
  }

  .c-header-home.-full .c-header-home_heading {
    margin-bottom: 30px;
  }
}
@media (min-width: 700px) {
  .c-header-home_heading {
    font-size: 5.625rem;
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 700px) and (max-width: 749px) {
  .c-header-home_heading {
    font-size: 4.375rem;
  }
}
@media (min-width: 1600px) {
  .c-header-home_heading {
    font-size: 6.25rem;
  }
}
.c-header-home_heading.-full {
  width: 100%;
}

.c-header-home_subheading {
  display: inline-block;
  padding: 1.875rem 0;
}

.c-header-home_subheading.-load {
  transition: -webkit-transform 0.9s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1) 0.4s, -webkit-transform 0.9s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -webkit-transform: translate3d(0, 3.75rem, 0);
          transform: translate3d(0, 3.75rem, 0);
}

.is-loaded .c-header-home_subheading.-load {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

body[data-route-option="prev-section"] .c-header-home_subheading.-load, body[data-route-option="next-section"] .c-header-home_subheading.-load {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.o-hsub {
  font-size: 0.75rem;
  padding: 1.25rem 0;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-weight: 500;
}

.o-hsub::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid;
  width: 1.5rem;
  background-color: #1e1e22;
  margin-right: 1.125rem;
  transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.o-hsub.-link {
  color: #ffffff;
  text-decoration: none;
}

.o-hsub.-link:hover::before, .o-hsub-wrap:hover .o-hsub.-link::before {
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
}


/*
	End CSS for hoteller-slider-zoom
*/


/*
	Begin CSS for hoteller-slider-parallax
*/

.slider_parallax_wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.slider_parallax_wrapper .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider_parallax_wrapper .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slider_parallax_wrapper .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slider_parallax_wrapper .slide.is-active {
  display: block;
}
.slider_parallax_wrapper .slide.is-loaded {
  opacity: 1;
}
.slider_parallax_wrapper .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slider_parallax_wrapper .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.slider_parallax_wrapper .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.slider_parallax_wrapper .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_parallax_wrapper .slide .title {
  margin: 0 auto 15px;
}
.slider_parallax_wrapper .slide .title h2 {
	color: #fff;
}
.slider_parallax_wrapper .slide .text {
  margin: 0 auto;
  font-size: 18px;
}
.slider_parallax_wrapper .slide .button {
  margin: 20px 0 0;
}
.slider_parallax_wrapper .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}
.slider_parallax_wrapper .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.slider_parallax_wrapper .pagination .item + .page {
  margin-left: -2px;
}
.slider_parallax_wrapper .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  opacity: 0.3;
  transition: background 0.2s ease;
}
.slider_parallax_wrapper .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}
.slider_parallax_wrapper .pagination .item:hover::before, .slider_parallax_wrapper .pagination .item.is-active::before {
  opacity: 1;
}
.slider_parallax_wrapper .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.slider_parallax_wrapper .arrows .prev {
  left: 30px;
}
.slider_parallax_wrapper .arrows .prev:hover .svg {
  left: -10px;
}
.slider_parallax_wrapper .arrows .next {
  right: 30px;
}
.slider_parallax_wrapper .arrows .next:hover .svg {
  left: 10px;
}
.slider_parallax_wrapper .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}

/*
	End CSS for hoteller-slider-parallax
*/


/*
	Begin CSS for hoteller-booking-history
*/

.booking_history_wrapper,
.booking_history_row_wrapper
{
	width: 100%;
	float: left;
}

.booking_history_row_wrapper
{
	margin-bottom: 40px;
}

.booking_history_title
{
	margin-bottom: 20px;
}

.booking_history_img
{
	float: left;
	width: 180px;
}

.booking_history_img img
{
	max-width: 150px;
	height: auto;
}

.booking_history_content
{
	float: right;
	width: calc(100% - 180px);
}

.booking_history_content_row
{
	float: left;
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
}

.booking_history_label
{
	float: left;
	width: 30%;
	font-weight: 600;
}

.booking_history_attr
{
	float: right;
	width: 70%;
}

.booking_history_status.confirmed
{
	color: #32a923;
}

.booking_history_status.abandoned,
.booking_history_status.cancelled
{
	color: #FF3B30;
}

.booking_history_status.pending,
.booking_history_status.pending-user,
.booking_history_status.pending-payment
{
	color: #FF9500;
}

.booking_history_sub_label
{
	float: left;
	width: 60%;
}

.booking_history_sub_attr
{
	float: left;
	width: 40%;
	text-align: right;
}

.elementor-widget-shortcode .mphb-required-fields-tip
{
	display: none;
}

.elementor-widget-shortcode .mphb_sc_search-check-in-date,
.elementor-widget-shortcode .mphb_sc_search-check-out-date,
.elementor-widget-shortcode .mphb_sc_search-adults,
.elementor-widget-shortcode .mphb_sc_search-children,
.elementor-widget-shortcode .mphb_sc_search-submit-button-wrapper,
.elementor-widget-hoteller-availability-search .mphb_sc_search-check-in-date,
.elementor-widget-hoteller-availability-search .mphb_sc_search-check-out-date,
.elementor-widget-hoteller-availability-search .mphb_sc_search-adults,
.elementor-widget-hoteller-availability-search .mphb_sc_search-children,
.elementor-widget-hoteller-availability-search .mphb_sc_search-submit-button-wrapper
{
	box-sizing: border-box;
	width: calc(20% - 5px);
	padding-right: 10px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	display: inline-block;
}

.elementor-widget-shortcode .mphb_sc_search-check-in-date input.mphb-datepick,
.elementor-widget-shortcode .mphb_sc_search-check-out-date input.mphb-datepick
{
	background: transparent;
}

.elementor-widget-shortcode .mphb_sc_search-submit-button-wrapper,
.elementor-widget-hoteller-availability-search .mphb_sc_search-submit-button-wrapper
{
	width: 20%;
	padding-right: 0;
}

.elementor-widget-shortcode .mphb_sc_search-submit-button-wrapper input[type=submit],
.elementor-widget-hoteller-availability-search .mphb_sc_search-submit-button-wrapper input[type=submit]
{
	width: 100%;
	transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}

.elementor-widget-shortcode .mphb-required-fields-tip,
.elementor-widget-hoteller-availability-search .mphb-required-fields-tip
{
	display: none;
}

/*
	End CSS for hoteller-booking-history
*/


/*
	Begin CSS for hoteller-navigation-menu
*/

.tg_navigation_wrapper:empty
{
	min-height: 70px;
}

.tg_navigation_wrapper .nav
{
	padding: 0;
}

.tg_navigation_wrapper .nav li
{
	display: inline-block;
	margin: 0;
	padding: 12px 0 12px 0;
}

.tg_navigation_wrapper.menu_style2 .nav li
{
	padding: 12px 0 12px 0;
}

.tg_navigation_wrapper.menu_style1 .nav li
{
	padding: 0;
}

.tg_navigation_wrapper .nav li a
{
	display: inline-block;
	position: relative;
	padding: 0 5px;
	
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
}

.tg_navigation_wrapper.menu_style1 .nav li a
{
	padding: 0;
}

.tg_navigation_wrapper.menu_style2 .nav li a:before
{
	content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0.2;
    height: 50%;
    width: 100%;
    background-color: #666;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.tg_navigation_wrapper.menu_style1 .nav li a:before
{
	content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #666;
    transform-origin: right top;
    transform: scale(0,1);
    transition: color .1s,transform .2s ease-out;
}

.tg_navigation_wrapper.menu_style1 .nav li a:active:before,
.tg_navigation_wrapper.menu_style2 .nav li a:active:before
{
	background-color: #666;
}

.tg_navigation_wrapper.menu_style1 .nav li a:hover:before,
.tg_navigation_wrapper.menu_style2 .nav li a:hover:before
{
  	transform-origin: left top;
    transform: scale(1, 1);
}

.tg_navigation_wrapper .nav li.arrow > a:after
{
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: 10%;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	font-family: 'themify';
	content: "\e64b";
	float: right;
	margin-left: 8px;
	line-height: 3.5em;
}

.tg_navigation_wrapper .nav li.arrow > a:after
{
	font-size: 7px;
}

.tg_navigation_wrapper .nav li ul
{
	list-style: none;
	background: transparent;
	position: absolute;
 	width: 220px;
 	height: 0;
 	padding: 0;
 	z-index: -1; 
	margin: 0;
	margin-left: 0;
	margin-top: 10px;
	border: 0;
	-webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
	opacity: 0;
	overflow: hidden;
    
    -webkit-transform: translate(0px,-15px);
    -moz-transform: translate(0px,-15px);
    transform: translate(0px,-15px);
    
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}

.tg_navigation_wrapper .nav li ul li
{
	padding: 5px 0 5px 0;
	clear: both;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}

.tg_navigation_wrapper .nav li ul li ul
{
	position: absolute;
	left: 221px;
	margin-top: -39px;
	margin-left: 0;
	opacity: 0;
}

.tg_navigation_wrapper .nav li ul li ul:before
{
	display: none;
}

.tg_navigation_wrapper .nav > li:hover > ul,
.tg_navigation_wrapper .nav > li > ul > li:hover > ul
{
    z-index: 9;
    opacity: 1;
    height: auto;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px);
    
    overflow: visible;
}

.tg_navigation_wrapper .nav li.current-menu-item ul li a, .tg_navigation_wrapper .nav li ul li.current-menu-item a, .tg_navigation_wrapper .nav li ul li.current-menu-parent a
{
	background: transparent;
	height: auto;
}

.tg_navigation_wrapper .nav li ul li a, .tg_navigation_wrapper .nav li.current-menu-parent ul li a
{
	border-top: 0;
	margin: 0;
	font-size: 11px;
	padding: 0;
	padding-right: 5px;
	letter-spacing: 0;
	font-weight: 400;
	text-transform: none;
	box-sizing: border-box;
	
	-webkit-transition: color .2s linear, background .2s linear;
	-moz-transition: color .2s linear, background .2s linear;
	-ms-transition: color .2s linear, background .2s linear;
	-o-transition: color .2s linear, background .2s linear;
	transition: color .2s linear, background .2s linear;
}

.tg_navigation_wrapper .nav li:first-child > a, 
.tg_navigation_wrapper .nav li ul li:first-child > a,
.tg_navigation_wrapper .nav li.current-menu-parent ul li:first-child > a
{
	margin-top: 10px;
}

.tg_navigation_wrapper .nav li:last-child > a, 
.tg_navigation_wrapper .nav li ul li:last-child > a,
.tg_navigation_wrapper .nav li.current-menu-parent ul li:last-child > a
{
	margin-bottom: 10px;
}

.tg_navigation_wrapper .nav li.megamenu > ul
{
	position: fixed;
	width: 960px;
	left: 0;
	right: 0;
	margin-left:auto;
    margin-right:auto;
    padding: 0;
	box-sizing: border-box;
}

.tg_navigation_wrapper .nav li:not(.megamenu) > ul.sub-menu > li.arrow > a:after, .tg_navigation_wrapper .nav li:not(.megamenu) > ul.sub-menu > li.arrow > a:after
{
	font-size: 7px;
	margin-left: 8px;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: 10%;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
	font-family: 'themify';
    content: "\e649";
	float: right;
	margin-right: 0px;
	line-height: 3.4em;
}

.tg_navigation_wrapper .nav li.megamenu ul li
{
	display: block;
	box-sizing: border-box;
	clear: none;
	float: left;
	border-left: 1px solid #eeeeee;
}

.tg_navigation_wrapper .nav li.megamenu ul li > a
{
	display: none;
}

.tg_navigation_wrapper .nav li.megamenu ul li:first-child
{
	border: 0;
}

.tg_navigation_wrapper .nav li.megamenu.col2 ul > li
{
	width: 50%;
	padding: 5px 15px 0 0;
}

.tg_navigation_wrapper .nav li.megamenu.col3 ul > li
{
	width: 33.3%;
	padding: 5px 15px 0 0;
}

.tg_navigation_wrapper .nav li.megamenu.col4 ul > li
{
	width: 25%;
	padding: 5px 15px 0 0;
}

.tg_navigation_wrapper .nav li.megamenu ul li ul, .tg_navigation_wrapper .nav li.megamenu ul li ul
{
	position: relative;
	width: 100%;
	margin: 0;
	border: 0;
	box-shadow: 0 0 0;
	display: block !important;
	opacity: 1 !important;
	left: 0;
	height: auto;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    overflow: visible;
}

.tg_navigation_wrapper .nav li.megamenu ul li ul li, .tg_navigation_wrapper .nav li.megamenu ul li ul li
{
	width: 100% !important;
	border: 0 !important;
}

.tg_navigation_wrapper .nav li.megamenu ul li > a, .tg_navigation_wrapper .nav li.megamenu ul li > a:hover, .tg_navigation_wrapper .nav li.megamenu ul li  > a:active
{
	color: #444;
	box-sizing: border-box;
	background: transparent;
}

.tg_navigation_wrapper .nav li.megamenu ul li ul li a, .tg_navigation_wrapper .nav li.megamenu ul li ul li a
{
	color: #888;
	border-bottom: 0;
}

.tg_navigation_wrapper .nav li.megamenu ul li ul li, .tg_navigation_wrapper .nav li.megamenu ul li ul li a
{
	width: auto;
	display: inline-block;
	margin-left: 5px;
	padding: 0;
}

@media only screen and (min-width: 1200px) {
	.tg_navigation_wrapper .nav li.megamenu > ul, .tg_navigation_wrapper .nav li.megamenu > ul
	{
		max-width: 1425px;
		width: 100%;
		width: calc(100vw - 180px);
		box-sizing: border-box;
	}
}

#elementor_mobile_nav.elementor-button .elementor-align-icon-left
{
	float: none;
}

.elementor_mobile_nav
{
	cursor: pointer;
}

.elementor_desktop_hide
{
	z-index: -1;
	opacity: 0;
}

.text_alignright .elementor-column-wrap .elementor-widget-wrap .elementor-widget:first-child,
.text_alignright .elementor-column-wrap .elementor-widget-wrap .elementor-widget.elementor_mobile_nav
{
	margin-left: auto;
}

.no_padding .tg_navigation_wrapper .nav li
{
	padding: 0;
}

.no_padding .tg_navigation_wrapper .nav li a
{
	margin-top: 0;
}

/*
	End CSS for hoteller-navigation-menu
*/

/*
	Begin CSS for hoteller-mouse-driven-vertical-carousel
*/

.tg_mouse_driven_vertical_carousel_wrapper {
	overflow: hidden;
	width: 100%;
}

.tg_mouse_driven_vertical_carousel_wrapper .c-header {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 0;
  height: 100%;
}

.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .carousel__header {
	position: absolute;
	top: 45%;
	left: 90px;
	z-index: 9;
}

.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .carousel__header h2 {
	color: #fff;
}

.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .c-gradient-overlay {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 49% 50%, rgba(2, 21, 25, 0.3), rgba(2, 21, 25, 0.6));
}

.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .c-mouse-vertical-carousel {
  position: relative;
}
.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .c-mouse-vertical-carousel__list {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  list-style: none;
  
}
.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .c-mouse-vertical-carousel__list-item a {
  display: block;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 54.1666666667%;
  padding-right: 10%;
}
.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .c-mouse-vertical-carousel__eyebrow {
  position: relative;
  color: #fff;
  padding: 0 !important;
}
.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .c-mouse-vertical-carousel__title {
  max-width: 100%;
  color: #fff;
  padding: 0 !important;
  font-size: 26px;
  font-weight: 700;
}
.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .c-mouse-vertical-carousel__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  will-change: transform;
}


/*
	End CSS for hoteller-mouse-driven-vertical-carousel
*/


/*
	Begin CSS for hoteller-slider-synchronized-carousel
*/

.tg_synchronized_carousel_slider_wrapper.sliders-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--images {
  position: relative;
  overflow: hidden;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--images.ms-container--horizontal {
  width: 100%;
  height: 400px;
  max-width: 100%;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--images.ms-container--horizontal .ms-track {
  left: calc(50% - 350px);
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--images.ms-container--horizontal .ms-slide {
  display: inline-flex;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--images .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--images .ms-slide {
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--images {
  left: calc(50% - 280px);
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--images.ms-container--horizontal .ms-track {
  left: -70px;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--images .ms-slide__image-container {
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--images .ms-slide__image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--numbers {
  position: relative;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--numbers.ms-container--horizontal {
  width: 240px;
  height: 240px;
  max-width: 100%;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--numbers.ms-container--horizontal .ms-track {
  left: calc(50% - 120px);
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--numbers.ms-container--horizontal .ms-slide {
  display: inline-flex;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--numbers .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--numbers .ms-slide {
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--numbers {
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% - 280px);
  z-index: -1;
  pointer-events: none;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--numbers .ms-slide {
  font-size: 100px;
  font-weight: 900;
  color: #ccc;
}

.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles {
  position: relative;
  overflow: hidden;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles.ms-container--vertical {
  width: 400px;
  min-height: 170px;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 85px);
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles.ms-container--vertical.ms-container--reverse .ms-track {
  flex-direction: column-reverse;
  top: auto;
  bottom: calc(50% - 85px);
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles.ms-container--vertical .ms-slide {
  display: flex;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles .ms-slide {
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 170px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles {
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% - 120px);
  z-index: 1;
  pointer-events: none;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles .ms-track {
  white-space: normal;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles .ms-slide {
  font-size: 3.3em;
  font-weight: 600;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles .ms-slide h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4em;
}

.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--links {
  position: relative;
  overflow: hidden;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--links.ms-container--vertical {
  width: 400px;
  min-height: 60px;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--links.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 10px);
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--links.ms-container--vertical .ms-slide {
  display: flex;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--links .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--links .ms-slide {
  align-items: left;
  justify-content: left;
  min-width: 300px;
  min-height: 90px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--links {
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% + 85px);
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--links .ms-track {
  white-space: normal;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .ms--links .ms-slide__link {
  cursor: pointer;
}

.tg_synchronized_carousel_slider_wrapper.sliders-container .tg_synchronized_carousel_pagination {
  display: flex;
  position: absolute;
  left: calc(50% - 420px);
  top: calc(100%);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .pagination__button {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .pagination__button:before, .pagination__button:after {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .pagination__button:before {
  height: 2px;
  background-color: #ccc;
}
.tg_synchronized_carousel_slider_wrapper.sliders-container .pagination__button:after {
  height: 2px;
  background-color: #0067DA;
  opacity: 0;
  transition: 0.5s opacity;
}

.tg_synchronized_carousel_slider_wrapper.sliders-container .pagination__item--active .pagination__button:after {
  opacity: 1;
}

@media screen and (max-width: 860px) {
  .tg_synchronized_carousel_slider_wrapper.sliders-container .ms--numbers {
    left: calc(50% - 120px);
  }

  .tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles {
    left: calc(50% - 200px);
    top: calc(50% - 135px);
    text-align: center;
  }

  .tg_synchronized_carousel_slider_wrapper.sliders-container .ms--links {
    left: calc(50% - 60px);
    top: calc(50% + 80px);
  }

  .tg_synchronized_carousel_slider_wrapper.sliders-container .tg_synchronized_carousel_pagination {
    left: 50%;
    top: calc(100%);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media screen and (max-width: 600px) {
  .tg_synchronized_carousel_slider_wrapper.sliders-container .ms--images {
    overflow: visible;
  }
}
@media screen and (max-width: 400px) {
  .tg_synchronized_carousel_slider_wrapper.sliders-container .ms--titles .ms-slide {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

/*
	End CSS for hoteller-slider-synchronized-carousel
*/

/*
	Begin CSS for hoteller-flip-box
*/

.tg_flip_box_wrapper.square-flip{
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;

	-webkit-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  transform: perspective(1000px);

  -moz-transform-style: preserve-3d; 
  
  position:relative;
}

.tg_flip_box_wrapper.square-flip {
	width:100%;
	height:400px;
}
.tg_flip_box_wrapper.square-flip .square,.square2{
  	width:100%;
  	height:100%;
  }
.tg_flip_box_wrapper.square-flip .square{

  	background-size: cover;
  	background-position:center center;

  	-ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
  	    transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
  	    -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
  	overflow: hidden;

  	position:absolute;
  	top:0;


  	-webkit-backface-visibility: hidden; 
  	backface-visibility: hidden;
  }
.tg_flip_box_wrapper.square-flip  .square{
  	-webkit-transform: rotateY(0deg);
  	-moz-transform: rotateY(0deg);
  	-o-transform: rotateY(0deg);
  	-ms-transform: rotateY(0deg);
  	transform: rotateY(0deg);
  	transform-style: preserve-3d;
  	z-index:1;
  }
.tg_flip_box_wrapper.square-flip:hover .square{
  	-webkit-transform: rotateY(-180deg);
  	-moz-transform: rotateY(-180deg);
  	-o-transform: rotateY(-180deg);
  	-ms-transform: rotateY(-180deg);
  	transform: rotateY(-180deg);
  	transform-style: preserve-3d;
  }


  .tg_flip_box_wrapper.square-flip .square2{

  	background-size: cover;
  	background-position:center center;

  	-ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
  	    transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
  	    -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
  	overflow: hidden;

  	position:absolute;
  	top:0;

  	-webkit-backface-visibility: hidden; 
  	backface-visibility: hidden;
  }
.tg_flip_box_wrapper.square-flip  .square2{
  	-webkit-transform: rotateY(180deg);
  	-moz-transform: rotateY(180deg);
  	-o-transform: rotateY(180deg);
  	-ms-transform: rotateY(180deg);
  	transform: rotateY(180deg);
  	transform-style: preserve-3d;
  	z-index:1;
  }
.tg_flip_box_wrapper.square-flip:hover .square2{
  	-webkit-transform: rotateY(0deg);
  	-moz-transform: rotateY(0deg);
  	-o-transform: rotateY(0deg);
  	-ms-transform: rotateY(0deg);
  	transform: rotateY(0deg);
  	transform-style: preserve-3d;
  }

  /*Square content*/
.tg_flip_box_wrapper.square-flip .square-container{
  	padding:40px;
  	text-align:center;
  	position:relative;
  	top:50%;

  	-ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
  	    transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
  	    -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);

  
  	-webkit-transform: translateY(-50%) translateX(0px)  scale(1);
  	-ms-transform: translateY(-50%) translateX(0px)  scale(1);
ansform: translateY(-50%) translateX(0px)  scale(1);
  	transform-style: preserve-3d;
  	z-index:2;
  }
  
.tg_flip_box_wrapper.square-flip:hover .square-container{
  	
  	-webkit-transform: translateY(-50%) translateX(-650px)  scale(.88);
  	-ms-transform: translateY(-50%) translateX(-650px)  scale(.88);
transform: translateY(-50%) translateX(-650px)  scale(.88);
  	transform-style: preserve-3d;

  }

.tg_flip_box_wrapper.square-flip .square-container2{
  	padding:40px;
  	text-align:center;
  	position:relative;
  	top:50%;

  	-ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
  	    transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
  	    -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);

  	
  	-webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  	-ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);

  	transform-style: preserve-3d;
  	z-index:2;
  }
.tg_flip_box_wrapper.square-flip:hover .square-container2{
  	
  	-webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  	-ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  	transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
transform-style: preserve-3d;
  }
  
.tg_flip_box_wrapper.square-flip .flip-overlay {
    display: block;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.tg_flip_box_wrapper.square-flip .square-container2 .button {
	margin-top: 20px;
}

/*
	End CSS for hoteller-flip-box
*/