/* 
#Tablet (Landscape)
================================================== 
*/

@media only screen and (min-width: 960px) and (max-width: 1099px)
{
	.elementor-section.elementor-section-height-full
	{
		height: auto !important;
		min-height: 100vh;
		padding: 100px 0 100px 0;
	}
	
	.elementor-section.elementor-section-height-full > .elementor-container
	{
		height: 100vh;
	}
	
	.blog-posts-grid .post_img_hover
	{
		min-height: 130px;
	}
	
	.blog-posts-classic .post_img_hover
	{
		min-height: 315px;
	}
	
	.blog-posts-list .post_img_hover
	{
		min-height: 250px;
	}
	
	.blog-posts-list_circle .post_img_hover
	{
		min-height: 190px;
	}
	
	.type-post.blog-posts-grid_no_space .post_wrapper .post_content_wrapper .post_header,
	.type-post.blog-posts-metro_no_space .post_wrapper .post_content_wrapper .post_header
	{
		transform: none;
	}
	
	.slider_parallax_wrapper .slide .image
	{
		max-width: none !important;
		width: auto !important;
		min-width: 100%; 
	}
	
	.slider_parallax_wrapper
	{
		height: 100vh !important;
		overflow: hidden;
	}
	
	.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .carousel__header
	{
		left: 40px;
	}
	
	.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .c-mouse-vertical-carousel__list
	{
		top: 0;
		overflow: scroll;
		max-height: 100%;
	}
}

/* 
#Tablet (Portrait)
================================================== 
*/

@media only screen and (min-width: 768px) and (max-width: 960px) {
	h1.elementor-heading-title
	{
		font-size: 44px;
	}
	
	h2.elementor-heading-title
	{
		font-size: 32px;
	}
	
	h3.elementor-heading-title
	{
		font-size: 26px;
	}
	
	.gallery_grid_content_wrapper.album_grid .tg_five_cols h3.tilter__title
	{
		font-size: 18px;
	}
	
	.gallery_grid_content_wrapper.album_grid .tg_five_cols .tilter__caption
	{
		padding: 1em;
	}
	
	.gallery_grid_content_wrapper.album_grid .tg_five_cols .tilter__description
	{
		display: none;
	}
	
	.gallery_grid_content_wrapper.album_grid .tg_three_cols .tilter__caption
	{
		padding: 1.8em;
	}
	
	.gallery_grid_content_wrapper.album_grid .tg_four_cols .tilter__caption
	{
		padding: 1.5em;
	}
	
	.gallery_grid_content_wrapper.album_grid .tg_four_cols h3.tilter__title
	{
		font-size: 18px !important;
	}
	
	.gallery_grid_content_wrapper.album_grid .tilter--6 .tilter__deco--lines
	{
		top: -10px;
		left: -10px;
	}
	
	body.tg_password_protected #page_content_wrapper .inner .inner_wrapper
	{
		width: 70%;
	}
	
	body.tg_password_protected #page_content_wrapper .inner .inner_wrapper .sidebar_content
	{
		padding: 40px;
	}
	
	.elementor-section.elementor-section-height-full
	{
		height: auto !important;
		min-height: 100vh;
		padding: 100px 0 100px 0;
	}
	
	.type-post.blog-posts-grid_no_space, .type-post.blog-posts-metro_no_space
	{
		width: 50%;
	}
	
	.blog-posts-grid .post_img_hover
	{
		min-height: 120px;
	}
	
	.post_img_hover .post_type_icon
	{
		bottom: -20px;
		right: 0px;
	}
	
	.type-post.blog-posts-metro_no_space.large_grid
	{
		width: 100%;
	}
	
	.type-post.blog-posts-grid_no_space, .type-post.blog-posts-metro_no_space
	{
		width: 50%;
	}
	
	.post_metro_right_wrapper .blog-posts-metro
	{
		width: 100%;
	}
	
	.post_metro_left_wrapper .post_header h5
	{
		font-size: 28px;
	}
	
	.blog-posts-classic .post_img_hover
	{
		min-height: 280px;
	}
	
	.blog-posts-list .post_img_hover
	{
		min-height: 180px;
	}
	
	.blog-posts-list_circle .post_img_hover
	{
		min-height: 140px;
	}
	
	.tg_horizontal_slider_content
	{
		padding: 0 !important;
	}
	
	.tg_horizontal_slider_wrapper .flickity-prev-next-button.previous
	{
		left: -40px;
	}
	
	.tg_horizontal_slider_bg_two_cols
	{
		width: calc(50% - 10px);
	}
	
	.tg_horizontal_slider_bg_two_rows
	{
		margin-bottom: 20px;
		height: calc(50% - 10px);
	}
	
	.swiper-container:hover .swiper-button-next.hover
	{
		right: 20px;
	}
	
	.swiper-container:hover .swiper-button-prev.hover
	{
		left: 20px;
	}
	
	.slider_zoom_wrapper
	{
		max-height: 700px;
	}
	
	.distortion_grid_wrapper 
	{
		grid-template-columns: repeat(1,80vmax);
	}
	
	.distortion_grid_item 
	{
		height: 80vmax;
		width: 100%;
	}
	
	.tg_horizontal_slider_wrapper .tg_horizontal_slider_content .tg_horizontal_slider_content_wrap .tg_horizontal_slider_content_cell
	{
		padding-left: 30px;
	}
	
	.elementor-section.elementor-section-height-full > .elementor-container
	{
		height: 100vh;
	}
	
	.slider_parallax_wrapper .slide .image
	{
		height: 100% !important;
	}
	
	.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .carousel__header
	{
		left: 30px;
	}
	
	.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .c-mouse-vertical-carousel__list
	{
		top: 0;
		overflow: scroll;
		max-height: 100%;
	}
	
	.tg_flip_box_wrapper.square-flip .square-container2
    {
	    padding: 20px;
    }
}

/*  
#Mobile (Portrait)
================================================== 
*/

@media only screen and (max-width: 767px) {
	.header_client_wrapper
	{
		display: none;
	}
	
	#logo_right_wrapper
	{
		margin-top: 7px;
	}
	
	.swiper-container:hover .swiper-button-next.hover
	{
		right: 20px;
	}
	
	.swiper-container:hover .swiper-button-prev.hover
	{
		left: 20px;
	}
	
	.tg_parallax_slide_content_title h2
	{
		font-size: 40px;
	}
	
	.tg_parallax_slide_content_subtitle
	{
		font-size: 16px;
	}
	
	.tg_horizontal_slider_content
	{
		padding: 0 !important;
	}
	
	.tg_horizontal_slider_wrapper .flickity-prev-next-button.previous
	{
		left: -40px;
	}
	
	.tg_horizontal_slider_bg_two_cols
	{
		width: calc(50% - 10px);
	}
	
	.tg_horizontal_slider_bg_two_rows
	{
		margin-bottom: 20px;
		height: calc(50% - 10px);
	}
	
	.tg_horizontal_slider_bg_two_cols
	{
		width: 100% !important;
	}
	
	.flickity-prev-next-button
	{
		display: none;
	}
	
	#footer_menu
	{
		text-align: center;
	}
	
	#footer_menu li
	{
		float: none;
		display: inline-block;
	}
	
	#copyright
	{
		text-align: center;
	}
	
	.gallery_grid_content_wrapper .tg_two_cols,
	.gallery_grid_content_wrapper .tg_two_cols.last,
	.gallery_grid_content_wrapper .tg_three_cols,
	.gallery_grid_content_wrapper .tg_three_cols.last,
	.gallery_grid_content_wrapper .tg_four_cols,
	.gallery_grid_content_wrapper .tg_four_cols.last,
	.gallery_grid_content_wrapper .tg_five_cols,
	.gallery_grid_content_wrapper .tg_five_cols.last,
	.gallery_grid_content_wrapper.has_no_space .tg_two_cols,
	.gallery_grid_content_wrapper.has_no_space .tg_three_cols,
	.gallery_grid_content_wrapper.has_no_space .tg_four_cols,
	.gallery_grid_content_wrapper.has_no_space .tg_five_cols
	{
		width: 100%;
		margin-right: 0;
	}
	
	#page_content_wrapper .inner .sidebar_content.full_width .tg_horizontal_gallery_cell img
	{
		max-height: 300px !important;
	}
	
	body.tg_password_protected #page_content_wrapper .inner .inner_wrapper .sidebar_content
	{
		padding: 30px;
	}
	
	body.tg_password_protected #page_content_wrapper .inner .inner_wrapper
	{
		width: 85%;
		max-width: 320px;
	}
	
	input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=tel], input.wpcf7-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text
	{
		max-width: 100%;
	}
	
	body.tg_password_protected #wrapper
	{
		width: 100%;
	}
	
	body.elementor-fullscreen .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated
	{
		padding: 0 !important;
	}
	
	.elementor-section.elementor-section-height-full
	{
		height: auto !important;
		min-height: 100vh;
		padding: 100px 0 100px 0;
	}
	
	.width_one_third
	{
		width: 100%;
	}
	
	.type-post.blog-posts-grid_no_space,
	.type-post.blog-posts-metro_no_space
	{
		width: 100%;
	}
	
	.type-post.blog-posts-grid
	{
		width: 100%;
	}
	
	.type-post.blog-posts-masonry
	{
		width: 100%;
	}
	
	.type-post.blog-posts-metro_no_space.large_grid
	{
		width: 100%;
	}
	
	.type-post.blog-posts-metro_no_space.large_grid .post_header h5
	{
		font-size: 20px;
	}
	
	.post_metro_left_wrapper, .post_metro_right_wrapper,
	.post_metro_right_wrapper .blog-posts-metro
	{
		width: 100%;
	}
	
	.post_metro_left_wrapper .post_header h5
	{
		font-size: 20px;
	}
	
	.post_content_wrapper
	{
		padding-bottom: 30px;
	}
	
	.blog-posts-list .post_img_hover
	{
		min-height: 150px;
	}
	
	.blog-posts-list_circle .post_img_hover
	{
		min-height: 100px;
	}
	
	.distortion_grid_wrapper 
	{
		grid-template-columns: repeat(1,80vmax);
	}
	
	.distortion_grid_item 
	{
		height: 80vmax;
		width: 100%;
	}
	
	.timeline_wrapper .timeline_entry
	{
		width: calc(50% - 10px);
	}
	
	.timeline_wrapper .timeline_entry .timeline_title:before,
	.timeline_wrapper .timeline_entry:nth-child(2n) .timeline_title:before
	{
		right: -36px;
	}
	
	.tg_slider_property_clip_wrapper.intro .content
	{
		padding: 3rem 3rem 3rem 3rem;
	}
	
	#page_content_wrapper .inner .sidebar_content.full_width .slider_parallax_wrapper .slide .image
	{
		height: 100% !important;
		width: auto !important;
		max-width: none !important;
	}
	
	.elementor-widget-shortcode .mphb_sc_search-check-in-date,
	.elementor-widget-shortcode .mphb_sc_search-check-out-date,
	.elementor-widget-shortcode .mphb_sc_search-adults,
	.elementor-widget-shortcode .mphb_sc_search-children,
	.elementor-widget-shortcode .mphb_sc_search-submit-button-wrapper
	{
		width: 100%;
		padding-right: 0;
		margin: 10px 0 10px 0;
	}
	
	.elementor-section.elementor-section-height-full > .elementor-container
	{
		height: 100vh;
	}
	
	.elementor-widget-shortcode .mphb_sc_search-check-in-date,
	.elementor-widget-shortcode .mphb_sc_search-check-out-date,
	.elementor-widget-shortcode .mphb_sc_search-adults,
	.elementor-widget-shortcode .mphb_sc_search-children,
	.elementor-widget-shortcode .mphb_sc_search-submit-button-wrapper,
	.elementor-widget-hoteller-availability-search .mphb_sc_search-check-in-date,
	.elementor-widget-hoteller-availability-search .mphb_sc_search-check-out-date,
	.elementor-widget-hoteller-availability-search .mphb_sc_search-adults,
	.elementor-widget-hoteller-availability-search .mphb_sc_search-children,
	.elementor-widget-hoteller-availability-search .mphb_sc_search-submit-button-wrapper
	{
		width: calc(50% - 5px);
		box-sizing: border-box;
		padding-right: 10px;
		padding-top: 0 !important;
		padding-bottom: 10px !important;
		display: inline-block;
	}
	
	.elementor-widget-hoteller-availability-search .mphb_sc_search-submit-button-wrapper
	{
		width: 100%;
	}
	
	.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .carousel__header
	{
		display: none;
	}
	
	.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .c-mouse-vertical-carousel__list-item a
	{
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .carousel__header
	{
		left: 20px;
	}
	
	.tg_mouse_driven_vertical_carousel_wrapper .u-media-wrapper .c-mouse-vertical-carousel__list
	{
		top: 0;
		overflow: scroll;
		max-height: 100%;
	}
	
	.tg_flip_box_wrapper.square-flip .square-container2
    {
	    padding: 20px;
    }
    
    .tg_fadeup_slider_wrapper li .content
    {
	    height: auto;
    }
    
    .elementor-widget-shortcode .mphb_sc_search-check-in-date, .elementor-widget-shortcode .mphb_sc_search-check-out-date, .elementor-widget-shortcode .mphb_sc_search-adults, .elementor-widget-shortcode .mphb_sc_search-children, .elementor-widget-shortcode .mphb_sc_search-submit-button-wrapper
	{
		width: 100% !important;
	}
}

/* 
#Mobile (Landscape)
================================================== 
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}